<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mate+SC&family=Padauk&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<style>
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('/css/dashboard1.jpg') no-repeat;
    object-fit: cover;

  }

  .container {
    flex: 1 0 auto;
  }
    .btne{
        background-color: rgb(38, 84, 233);
        margin: 3px;
    }
    .btne:hover{
        background-color: rgb(43, 128, 238);
    }

    .btnd{
        background-color: black;
        color: white;
        margin: 3px;
    }
    
    .btnd:hover{
        background-color: gray;
    }

    .sidebtn{
        visibility: hidden;
    }

</style> 
<section> 
<h4 style="font-family: 'Times New Roman', Times, serif; font-weight:bolder;">Dashboard</h4>
<h3 style="font-family: 'Permanent Marker', cursive;">Welcome {{name}}</h3>

{{#if stories}}
    <table class="heighlight">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td>
                        <a href="/stories/{{_id}}" style="font-weight:bold;">{{ stripTags (truncate title 5)}}</a>
                    </td>
                    <td>
                        {{formatDate createdAt 'llll'}}
                    </td>
                    <td>
                        <span class="dash-status">{{status}}</span>
                    </td>
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn btn-float btne">
                            <i class="fas fa-pen-square"></i>
                        </a>

                        <form action="/stories/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btnd"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}

   
<h5 style="background-color: rgba(250, 3, 3, 0.4); text-align:center; padding:2px;font-family: 'Padauk', sans-serif;">No Stories Created Yet......Click  <a href="/stories/add" style="border-radius: 10px;" class="waves-effect waves-light btn side"><i class="fa fa-plus"></i> </a> To Add Your First Story </h5><br><br>
<h6 style="font-family: 'Padauk', sans-serif;">Visit <a href="/about" style="border-radius: 10px;" class="waves-effect waves-light btn side">ABOUT THE APP</a> Page To Explore The Features Of the App </h6>
{{/if}}
</section>



