<style>
    .btn-read{
        background-color: black;
        color: blanchedalmond;
    }
    .btn-read:hover{
        background-color: red;
        color: black;
        }
    .page-footer{
        visibility: hidden;
    }
</style>

<h1 class="center-align">Stories</h1>

<div class="row">
    {{#each stories}}
        <div class="col s12 m6">
            <div class="card">
                <div class="card-image">
                    {{{editIcon user ../user _id}}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p>{{ stripTags (truncate body 100)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="">
                        <a href="/stories/user/{{user._id}}"> {{user.displayName}} </a>
                    </div>
                </div>
                <div class="card-action center-align">
                    <a href="/stories/{{_id}}" class="btn btn-read">Read More.....</a>
                </div>
            </div>
        </div>
    {{else}}
        <h4>No Stories Added Yet.......</h4>
        <h1><i class="far fa-sad-tear"></i></h1>
    {{/each}}
</div>