<style>
    .sidebtn{
        visibility: hidden;
    }
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('/css/showback.jpg');
  }

  .container {
    flex: 1 0 auto;
  }
  .main{
      background: url('/css/maincard.jpg');
  }
  .side{
      background-image: url('/css/cardback.jpg');
  }
 .card-action{
      background-image: url('/css/cardback.jpg');
  }
</style>

<div class="row">
    <div class="col s12 m8">
        <h3 style="color: blanchedalmond;">{{story.title}}
            <small>{{{editIcon story.user user story._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content main" style="color: white;">
                <span class="card-title" style="color: white;">{{story.createdAt}}</span>
                <hr>
                {{{story.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content side">
                <span class="card-title" style="font-weight: bold;">{{story.user.displayName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user._id}}" style="color:red;font-weight: bold;">More From {{story.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>
